[Desktop Entry]
Type=Application
Version=1.0
Name=MangaKindle
GenericName=Конвертер манги для Kindle
Comment=Скачать главы с mangalib и собрать файл для Kindle
Exec=mangakindle-gui
Icon=mangakindle
Terminal=false
Categories=Utility;Viewer;
Keywords=manga;kindle;манга;киндл;
StartupNotify=true
StartupWMClass=mangakindle-gui
