[Desktop Entry]
Type=Application
Version=1.0
Name=y0mu
GenericName=Манга на Kindle
Comment=Скачать главы с mangalib и собрать файл для Kindle
Exec=y0mu-gui
Icon=y0mu
Terminal=false
Categories=Utility;Viewer;
Keywords=manga;kindle;манга;киндл;
StartupNotify=true
StartupWMClass=y0mu-gui
